.top-container {
    background-color: #151515;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
}

.middle-container {
    background-color: #151515;
    text-align: center;
    padding-bottom: 100px;
}

.bottom-container {
    font-family: "Libre Baskerville", serif;
    background-color: #A91D3A;
    padding: 3rem 2rem;
    text-align: center;
    line-height: 2rem;
}

.footer-link {
    color: #EEEEEE;
    text-decoration: none;
    font-size: 2rem;
    margin: 10px;
}

.parent {
    display: grid;
    grid-template-columns: minmax(200px, 400px) minmax(100px, 300px);
    margin: auto;
    text-align: left;
    row-gap: 2rem;
    padding-bottom: 50px;
}

.skills {
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.profile>img {
    height: 300px;
    border-radius: 20%;
    animation: fadeInOut 6s ease-in-out infinite;
}

.aka {
    color: #A91D3A;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    margin: auto;
    line-height: 1.5;
    animation: pulsate 1.5s ease-in-out infinite;
}

.about {
    color: #EEEEEE;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    margin: auto;
    line-height: 2;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}

.design-development>p {
    color: #EEEEEE;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.music-text>p {
    color: #EEEEEE;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.contact {
    line-height: 0.5;
    padding-top: 5rem;
}

.contact>h2 {
    margin: 0;
}

.contact-message {
    margin: 2rem 1rem 3rem;
}

h1 {
    color: #EEEEEE;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6rem;
    margin: 0;
}

h2 {
    color: #A91D3A;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;

}

h3 {
    color: #A91D3A;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 30px;
}

.voidess {
    color: #A91D3A;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}

.title-text>h3 {
    color: #EEEEEE;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    margin: 0;
    padding-top: 40px;
}

.contact>h2 {
    animation: pulsate 1.5s ease-in-out infinite;
}

.keyboard-img>img {
    width: 100%;
    height: auto;
}

.keyboard-img {
    height: auto;
}

.dev-img>img {
    width: 50%;
    height: auto;
    padding-left: 20px;
}

.music-img>img {
    width: 50%;
    height: auto;
    padding-left: 20px;
}

.voidess-logo>img {
    width: 50%;
    height: auto;
    padding-left: 20px;
}

.design-development {
    align-self: center;
    justify-self: center;
}

.dev-img {
    align-self: center;
    justify-self: center;
}

.music-img {
    align-self: center;
    justify-self: center;
}

.music-text {
    align-self: center;
    justify-self: center;
}

.btn {
    background: #C73659;
    background-image: linear-gradient(to bottom, #C73659, #A91D3A);
    border-radius: 8px;
    font-family: "Libre Baskerville", serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: #EEEEEE;
}

.voidess-links>a {
    background: #C73659;
    background-image: linear-gradient(to bottom, #C73659, #A91D3A);
    border-radius: 8px;
    font-family: "Libre Baskerville", serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    color: #EEEEEE;
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}